<p id="notice"><%= notice %></p>

<p>
  <b>Network name:</b>
  <%= @network.network_name %>
</p>

<p>
  <b>Description:</b>
  <%= @network.description %>
</p>


<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
