<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Network address</th>
    <th>Mask length</th>
    <th>Description</th>
    <th>Virtual ip</th>
    <th>Subnet</th>
    <th>Interface</th>
    <th>Nat address</th>
    <th>Address range</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.network_address %></td>
    <td><%= address.mask_length %></td>
    <td><%= address.description %></td>
    <td><%= address.virtual_ip %></td>
    <td><%= address.subnet_id %></td>
    <td><%= address.interface_id %></td>
    <td><%= address.nat_address_id %></td>
    <td><%= address.address_range_id %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
