<p id="notice"><%= notice %></p>

<p>
  <b>System name:</b>
  <%= @system.system_name %>
</p>

<p>
  <b>Location:</b>
  <%= @system.location %>
</p>

<p>
  <b>Description:</b>
  <%= @system.description %>
</p>


<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
