<%= form_for(@interface) do |f| %>
  <% if @interface.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interface.errors.count, "error") %> prohibited this interface from being saved:</h2>

      <ul>
      <% @interface.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interface_name %><br />
    <%= f.text_field :interface_name %>
  </div>
  <div class="field">
    <%= f.label :layer2_address %><br />
    <%= f.text_field :layer2_address %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :system_id %><br />
    <%= f.text_field :system_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
