<p id="notice"><%= notice %></p>

<p>
  <b>Site name:</b>
  <%= @site.site_name %>
</p>

<p>
  <b>Network:</b>
  <%= @site.network_id %>
</p>

<p>
  <b>Description:</b>
  <%= @site.description %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
